.dashboard-container{

    display:flex;

}

.dashboard-main{

    flex:1;

    margin-left:250px;

    margin-top:72px;

    padding:25px;

    transition:all .3s ease;

    min-height:calc(100vh - 72px);

}

.dashboard-main.sidebar-closed{

    margin-left:0;

}